$primary-white: #FFFFFF;
$primary-off-white: #F4F0E7;
$primary-black: #000000;
$primary-red: #E3000B;

$secondary-dark-red: #8B0024;
$secondary-orange: #CF513E;
$secondary-yellow: #EBBE31;

$c-gray-1: #F2F2F2;
$c-gray-2: #EAEAEA;
$c-gray-3: #D7D7D7;
$c-gray-4: #A5A5A5;
$c-gray-5: #7C7D80;
$c-gray-6: #585958;;


