@font-face {
  font-family: Poppins;
  src: local(Poppins-Regular),
    url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Poppins;
  src: local(Poppins-Bold),
    url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: BonaNova;
  src: local(BonaNova-Regular),
    url(/fonts/Bona_Nova/BonaNova-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: BonaNova;
  src: local(BonaNova-Bold),
    url(/fonts/Bona_Nova/BonaNova-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}